<div class="menu-container">

    <div *ngIf="!selected">
        <div class="menu-heading">Tap on friend to wake</div>
        <div class="menu-option message" *ngIf="message">
            {{message}}
        </div>
    
        <div class="menu-option" *ngFor="let fren of friends" (click)="Select(fren)">  
            <img [src]="fren.photo" class="menu-icon-container display-pic">
            <div>
                <div class="menu-text">{{fren.name}}</div>
                <div class="menu-subtext">{{fren.email}}</div>
            </div>
        </div>
    
        <div class="menu-option" (click)="Nav('add');" *ngIf="noFriend">
            <div class="menu-icon-container">
                <img src="../../assets/icons/add-friend.png" class="menu-icon">
            </div>
            <div>
                <div class="menu-text">Add Friend</div>
                <div class="menu-subtext">You have no friends.</div>
            </div>
        </div>
    </div>

    <div *ngIf="selected && !noAccess">
        <div class="menu-heading">Tap to toggle friend alarm</div>
        <div class="menu-option message">
            <div class="wake-button" [ngClass]="{'wakey':wakeyData.wakey,'no-wakey':!wakeyData.wakey,'loading':wakeyData.loading}" (click)="ToggleWake()">
                <img [src]="selected.photo" class="dp">
            </div>
        </div>
        <div class="menu-option message">
            <div class="menu-text">{{message}}</div>
        </div>
        
    </div>
    
    <div *ngIf="selected && noAccess">
        <div class="menu-heading">No Access</div>
        <div class="menu-option message">
            <div class="menu-text">You have no access to this friend's alarm.</div>
        </div>
        <div class="menu-option" (click)="Req()">
            <div class="menu-icon-container">
                <img src="../../assets/icons/whatsapp.png" class="menu-icon">
            </div>
            <div>
                <div class="menu-text">Request access</div>
                <div class="menu-subtext">Text this friend for access.</div>
            </div>
        </div>
    </div>

    <div class="menu-heading">Options</div>
    <div class="menu-option" (click)="Back()">
        <div class="menu-icon-container">
            <img src="../../assets/icons/back.png" class="menu-icon">
        </div>
        <div class="menu-text">Back {{selected&&!noAccess?"(alarm may stay active)":""}}</div>
    </div>
</div>