<div class="bg">
    <img src="../../assets/background/tree/tl.png" class="tree cor top lef">
    <img src="../../assets/background/tree/tr.png" class="tree cor top rig">
    <img src="../../assets/background/tree/bl.png" class="tree cor bot lef">
    <img src="../../assets/background/tree/br.png" class="tree cor bot rig">

    <img src="../../assets/background/tree/ml.png" class="tree hsid lef">
    <img src="../../assets/background/tree/mr.png" class="tree hsid rig">

    <img src="../../assets/background/tree/bm.png" class="tree vsid bot">
    <img src="../../assets/background/tree/tm.png" class="tree vsid top">
</div>

<main-menu *ngIf="menuArray[0]=='main'" (emitter)="HandleTap($event)"></main-menu>
<add-friend *ngIf="menuArray[0]=='add'" (emitter)="HandleTap($event)"></add-friend>