<!-- <p (click)="back()">add-friend works!</p> -->


<div class="menu-container">

    <div class="menu-heading">Friend Request</div>

    
    <div class="menu-option message" *ngIf="message">
        {{message}}
    </div>

    <div class="menu-option" *ngFor="let req of fReq" [ngClass]="{'disappear': req.accept!==null && !req.loading,'confirmed': req.loading&&req.accept,'deleted': req.loading&&!req.accept}">  
            <img [src]="req.photo" class="menu-icon-container display-pic">
        <div>
            <div class="menu-text name">{{req.name}}</div>
            <div class="menu-subtext email">{{req.email}}</div>
            <div class="condel">
                <div class="con" (click)="HandleConfirmation(req,true)">Confirm</div>
                <div class="del" (click)="HandleConfirmation(req,false)">Delete</div>
            </div>
        </div>
    </div>

    <div class="menu-heading">Options</div>

    <div class="menu-option" (click)="AddFriend()">
        <div class="menu-icon-container">
            <img src="../../assets/icons/add-friend.png" class="menu-icon">
        </div>
        <div class="menu-text">Send friend request</div>
    </div>


    <div class="menu-option" (click)="Back()">
        <div class="menu-icon-container">
            <img src="../../assets/icons/back.png" class="menu-icon">
        </div>
        <div class="menu-text">Back</div>
    </div>
</div>