<!-- <p (click)="back()">add-friend works!</p> -->


<div class="menu-container">

    <div class="menu-heading">Add</div>

    <div class="menu-option">
            <img src="https://lh3.googleusercontent.com/a-/AOh14GiRSSFQwS-shbJ-gIXnE7o5soARnTLwy7X50oAc" class="menu-icon-container display-pic">
        <div>
            <div class="menu-text name">Display Name</div>
            <div class="menu-subtext email">email@example.com</div>
            <div class="condel">
                <div class="con" (click)="confirm()">Confirm</div>
                <div class="del" (click)="delete()">Delete</div>
            </div>
        </div>
    </div>

    <div class="menu-option">
        <img src="https://lh3.googleusercontent.com/a-/AOh14GiRSSFQwS-shbJ-gIXnE7o5soARnTLwy7X50oAc" class="menu-icon-container display-pic">
        <div>
            <div class="menu-text name">Name Display</div>
            <div class="menu-subtext email">example@email.comm</div>
            <div class="condel">
                <div class="con">Confirm</div>
                <div class="del">Delete</div>
            </div>
        </div>
    </div>

    <div class="menu-heading">Options</div>

    <div class="menu-option" (click)="back()">
        <div class="menu-icon-container">
            <img src="../../assets/icons/back.png" class="menu-icon">
        </div>
        <div class="menu-text">Back</div>
    </div>
</div>