<div class="bg">
    <img src="../../assets/background/tree/tl.png" class="tree cor top lef">
    <img src="../../assets/background/tree/tr.png" class="tree cor top rig">
    <img src="../../assets/background/tree/bl.png" class="tree cor bot lef">
    <img src="../../assets/background/tree/br.png" class="tree cor bot rig">

    <img src="../../assets/background/tree/ml.png" class="tree hsid lef">
    <img src="../../assets/background/tree/mr.png" class="tree hsid rig">

    <img src="../../assets/background/tree/bm.png" class="tree vsid bot">
    <img src="../../assets/background/tree/tm.png" class="tree vsid top">
</div>

<!-- <p>main-menu works!</p> -->
 
<div class="container">

    <div class="heading">Actions</div>

    <div class="option">
        <div class="icon-container">
            <img src="../../assets/icons/key.png" class="icon">
        </div>
        <div>
            <div class="text">Access</div>
            <div class="subtext">Set access to your alarm.</div>
        </div>
    </div>

    <div class="option">
        <div class="icon-container">
            <img src="../../assets/icons/clock.png" class="icon">
        </div>
        <div>
            <div class="text">Wake</div>
            <div class="subtext">Wake your friend up.</div>
        </div>
    </div>

    <div class="option">
        <div class="icon-container">
            <img src="../../assets/icons/add-friend.png" class="icon">
        </div>
        <div>
            <div class="text">Add Friend</div>
            <div class="subtext">Send/Accept friend request.</div>
        </div>
    </div>

    <div class="heading">Options</div>

    <div class="option" (click)="credit()">
        <div class="icon-container">
            <img src="../../assets/icons/heart.png" class="icon">
        </div>
        <div class="text">Credits</div>
    </div>

    <div class="option" (click)="out()">
        <div class="icon-container">
            <img src="../../assets/icons/logout.png" class="icon">
        </div>
        <div class="text">Log out</div>
    </div>
</div>

<beartext *ngIf="messages.length>0" [messages]="messages" (emitter)="creditDone($event)"></beartext>